* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    width: 100%;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    width: 100%;
    height: 100%;
    background-image: url("../assets/imgs/Imagem\ Floresta.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #001c07d2;
    height: 70px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 40px;
    width: auto;
}

.button a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-weight: 600;
}


.home .button #img_perfil img {
    width: 35px;
}

.logo img {
    width: 70px;
}

.meio_home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: #001c0788;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    width: 500px;
    height: 300px;

}

.home figure img {
    width: 200px;
}

.contato {
    display: flex;
    width: 50px;
    height: 200px;
    flex-direction: column;
}

.contato img {
    border-radius: 90%;
    height: 40px;
    width: 40px;
    padding: 4px;
}

/* Sobre */
.container .sobre {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/Imagem\ Floresta\ \(Sobre\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre .fundo_verde_sobre {
    background-color: #001c07d1;
    height: 100%;
    width: 100%;
}

.sobre .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.sobre .conteudo_sobre {
    width: 800px;
    display: flex;
    flex-direction: column;
    color: white;
}

.sobre .conteudo_sobre #sobre_nos {
    text-decoration: overline;
    font-size: 80px;
    width: 500px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 25px;
}

.sobre .conteudo_sobre #texto_sobre {
    background-color: #001c07c6;
    font-size: 18px;
    padding: 25px;
    height: 280px;
    line-height: 2.3;
}

.sobre .conteudo_imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid white;
    border-radius: 80px 2px;
    width: 490px;
    height: 450px;
    background-color: #001c0788;
}

.sobre .conteudo_imagem img {
    width: 400px;
    height: 350px;
}

/* Entre em contato */

.contato_page {
    background-image: url(../assets/imgs/fundoEntreEmContato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.centro_page {
    background-color: #001c07b8;
    height: 100%;
}

#titulo_contato {
    font-weight: 1000;
    text-align: center;
    font-size: 80px;
    color: white;
    padding-top: 80px;
    text-shadow: 4px 5px 10px #001c07b8;
}

.container_texto {
    background-color: #02400200;
    width: 700px;
    height: 200px;
    margin-left: 100px;
    margin-top: 300px;
    position: absolute;
}

#texto_contato {
    display: flex;
    color: #fff;
    font-size: 25px;
}

.contatos_contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 25px;
    color: #fff;
    margin-top: 140px;
}

.contatos_contato img {
    height: 100px;
}

.button img {
    width: 40px;;
}

.conteudo_contato {
    display: flex;
    flex-direction: column;
}

.input_contato {
    display: flex;
    flex-direction: column;
    background-color: #001c0795;
    margin-left: 850px;
    margin-top: 80px;
    padding-top: 30px;
    height: 340px;
    width: 550px;
    border-radius: 10px;
}

#input_nome {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 500px;
    height: 35px;
    text-align: center;
    margin-left: 20px;
    color: #fff;
}

#input_email {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 500px;
    height: 35px;
    text-align: center;
    margin-left: 20px;
    color: #fff;
}

#input_mensagem {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 500px;
    height: 150px;
    text-align: center;
    margin-left: 20px;
    color: #fff;
}

.input_contato button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 250px;
    height: 35px;
    text-align: center;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
}

.input_contato button:hover {
    background-color: #001C07;
    cursor: pointer;
}

/* footer */

.footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 240px;
    background-color: #001C07;
}

.elementos_footer {
    display: flex;

    width: 100%;
    height: 100%;


}

.elemento_filho_footer {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 0 30px;
    align-items: center;
}

.contatos {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
}

.contatos div {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.contatos img {
    height: 40px;
}

.contatos span {
    text-decoration: underline;
}

.contatos p {
    font-size: 20px;
}

.localizacao img {
    height: 50px;
}

.localizacao {
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.logo_nova {
    height: 160px;
}

.copy {
    background-color: #001C07;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    padding: 0 0 30px 0;
    font-weight: 700;
}

/* LOGIN */

#login {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/Fundo_login.jpg);
}

.login_fundo_verde {
    background-color: #001c0795;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_login {
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #001c07af;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_login input {
    width: 100%;
    height: 30px;
    align-self: center;
    background-color: transparent;
    outline: none;
    color: white;
}

.card_login input::placeholder{
    color: #ffffff91;
    font-size: 18px;
}

.titulo_login {
    text-align: center;
    font-size: 80px;
    color: white;
    font-weight: 700;
}

.campo_login {
    display: flex;
    width: 300px;
    height: 40px;
    border-color: white;
    align-self: center;
    border-radius: 20px;
    border: solid white 2px;
    justify-content: space-between;
    padding-inline: 10px;
}

.campo_login img{ 
    width: 20px;
    height: 20px;
    align-self: center;
}

#button_entrar {
    width: 200px;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    color: #001C07;
    font-weight: 600;
    font-size: 20px;
}
#button_entrar:hover{
    border: solid black 1px;
}

.button_voltar{
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
    
}


.card_login_block {
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #5e0101af;
    border: black solid 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card_login_block img{
    width: 200px;
    height: 200px;
}

.vazio{
    display: none;
}