* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container{
    width: 100%;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
}

.home{
    width: 100%;
    height:100%;     
    background-image: url("../assets/imgs/Imagem\ Floresta.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #001c07d2;
    height: 70px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 40px;
    width: auto;
}
.button a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-weight: 600;
}

.home .button #img_perfil img {
    width: 35px; 
}

.logo img{
    width: 70px;
}

.meio_home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    background-color: #001c0788;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    width: 500px;
    height: 300px;
    
}

.home figure img {
    width: 200px;
}

.contato{
    display: flex;
    width: 50px;
    height: 200px;
    flex-direction: column;
}

.contato img{
    border-radius: 90%;
    height: 40px;
    width: 40px;
    padding: 4px;
}

/* Sobre */
.container .sobre {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/Imagem\ Floresta\ \(Sobre\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sobre .fundo_verde_sobre{
    background-color: #001c07d1;
    height: 100%;
    width: 100%;
}

.sobre .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.sobre .conteudo_sobre{
    width: 800px;
    display: flex;
    flex-direction: column;
    color: white;
}

.sobre .conteudo_sobre #sobre_nos{
    text-decoration: overline;
    font-size: 80px;
    width: 500px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 25px;
}

.sobre .conteudo_sobre #texto_sobre{
    background-color: #001c07c6;
    font-size: 18px;
    padding: 25px;
    height: 280px;
    line-height: 2.3;
}

.sobre .conteudo_imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid white;
    border-radius: 80px 2px;
    width: 490px;
    height: 450px;
    background-color: #001c0788;
}

.sobre .conteudo_imagem img {
    width: 400px;
    height: 350px;
}


/* footer */

.footer{
    font-family:  Arial, Helvetica, sans-serif;
    width: 100%;
    height: 240px;
    background-color: #001C07;
}

.elementos_footer{
    display: flex;
  
    width: 100%;
    height: 100%;
    
  
}
.elemento_filho_footer{
    display: flex;
    justify-content: space-between;
  
    width: 100%;

    padding: 0 30px;
    align-items: center;
}

.contatos{
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
}
.contatos div{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.contatos img{
    height: 40px;
}
.contatos span{
    text-decoration: underline;
}

.contatos p{
    font-size: 20px;
}

.localizacao img{
    height: 50px;
}

.localizacao {
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.logo_nova{
    height: 160px;
}
.copy{
    background-color: #001C07;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    padding: 0 0 30px 0;
    font-weight: 700;
}