* {
    padding: 0;
    margin: 0;
    border: 0;
}
.container {
    width: 100%;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
.vazio{
    display: none;
}

#pagina {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/Fundo_login.jpg);
    background-size: cover;
}

.pagina_fundo_verde {
    background-color: #001c0795;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_login {
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #001c07af;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_login input {
    width: 100%;
    height: 30px;
    align-self: center;
    background-color: transparent;
    outline: none;
    color: white;
}

.card_login input::placeholder{
    color: #ffffff91;
    font-size: 18px;
}

.titulo_login {
    text-align: center;
    font-size: 80px;
    color: white;
    font-weight: 700;
}

.campo_login {
    display: flex;
    width: 300px;
    height: 40px;
    border-color: white;
    align-self: center;
    border-radius: 20px;
    border: solid white 2px;
    justify-content: space-between;
    padding-inline: 10px;
}

.campo_login img{ 
    width: 20px;
    height: 20px;
    align-self: center;
}

#button_entrar {
    width: 200px;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    color: #001C07;
    font-weight: 600;
    font-size: 20px;
}
#button_entrar:hover{
    border: solid black 1px;
}

.button_voltar{
    border: none;
    background-color: transparent;
    color: white;
    text-decoration: underline;
    font-weight: 500;
    font-size: 20px;
    margin-top: 40px;
    
}


.card_login_block {
    display: flex;
    width: 600px;
    height: 400px;
    background-color: #5e0101af;
    border: black solid 8px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card_login_block img{
    width: 200px;
    height: 200px;
}


.card_cadastro {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: #001c07af;
    flex-direction: column;
    justify-content: space-evenly;
}

.card_cadastro input {
    width: 100%;
    height: 30px;
    align-self: center;
    background-color: transparent;
    outline: none;
    color: white;
}

.card_cadastro input::placeholder{
    color: #ffffff91;
    font-size: 18px;
}

.titulo_cadastro {
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.subtitulo_cadastro{
    text-align: center;
    color: white;
}

.campo_cadastro {
    display: flex;
    width: 300px;
    height: 40px;
    border-color: white;
    align-self: center;
    border-radius: 20px;
    border: solid white 2px;
    justify-content: space-between;
    padding-inline: 10px;
}

.campo_cadastro img{ 
    width: 20px;
    height: 20px;
    align-self: center;
}

#button_entrar {
    width: 200px;
    height: 40px;
    align-self: center;
    border-radius: 30px;
    color: #001C07;
    font-weight: 600;
    font-size: 20px;
}
#button_entrar:hover{
    border: solid black 1px;
}




#ir_login{
    background-color: transparent;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 10px;
    cursor: default;
}

#ir_login u{
    cursor: pointer;
}
#ir_login u:hover{
    color: rgba(255, 255, 255, 0.301);
}

.ir_dash{
    color: white;
    text-align: center;
    font-size: 10px;
    cursor: default;
}