@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

body {
    background-image: url();
}

    /* Exibir tela de erro */

.error {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.error h6 {
    font-size: 40px;
    width: 70%;
    text-align: center;
    color: #1A3421;
}

.error a {
    color: #1A3421;
    font-size: 40px;
}

.error img {
    height: 200px;
    width: 200px;
}


/* alerta css */

#sair {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.alerta {
    box-sizing: border-box;
    display: block;
    position: absolute;
    min-height: 200px;
    min-width: 300px;
    top: 5%;
    left: 2%;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    height: 290px;
    width: 300px;
}

.alerta img {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.alerta div {
    display: flex;
    position: absolute;
    border: #091D0E solid 4px;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 60%;
    width: 100%;
}

.alerta h1 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.alerta div div {
    position: relative;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

/* Navegação */

.nav {
    background-color: #091D0E;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.nav img {
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.nav div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-right: 30px;
    height: 100%;
}

.nav div a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

.nav div img {
    height: 50px;
}


/* Container */

.container {
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    background-image: url('../../site_institucional/assets/imgs/Fundo\ site\ institucional.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#container #cabecalho a {
    position: absolute;
    right: 30px;
}

#container #cabecalho a img {
    width: 80px;
    height: 80px;
}


/* kPI */

.kpi_pai {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}


.Status {
    background-color: #1A3421;
    display: flex;
    width: 97%;
    height: 100px;
    align-items: center;
    padding: 20px 0;
    border-radius: 0px 10px 10px 0px;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px black;
}

.statusText {
    width: 15%;
    font-size: 25px;
    text-align: left;
    margin-left: 5%;
}

.alertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 80%;
    background-color: #425647;
    margin-left: 2%;
    border-radius: 10px;
}

.alertas img {
    width: 30%;
    margin-left: 5%;
}

.alertas h3 {
    font-size: 40px;
}

.aviso {
    display: flex;
    justify-content: space-around;
}

.perigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 80%;
    background-color: #425647;
    margin-left: 2%;
    border-radius: 10px;
}

.perigo img {
    width: 35%;
    margin-left: 5%;
}

.perigo h3 {
    font-size: 40px;
}

.manutencao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 80%;
    background-color: #425647;
    margin-left: 2%;
    border-radius: 10px;
}

.manutencao img {
    width: 30%;
    margin-left: 5%;
}

.manutencao h3 {
    font-size: 40px;
}

.kpi_pai h1 {
    margin-left: 20%;
    font-size: 50px;
}

.kpi_lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 70%;
    position: absolute;
    margin-top: 15%;
}

.kpi_lateral .fundoKPI {
    background-color: #091D0E;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
    margin-left: 15%;
    box-shadow: 0px 0px 20px 0px black;
}

.kpi_lateral #metrica {
    width: 25%;
    margin-left: 60%;
    margin-top: 12%;
}

.kpi_lateral #termometro {
    width: 12%;
    margin-right: 80%;
    margin-top: 15%;
}

.kpi_lateral #umidade {
    width: 12%;
    margin-right: 80%;
    margin-top: 32%;
}

.kpi_lateral h3 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 4%;
    margin-right: 15%;
}

.kpi_lateral img {
    position: absolute;
}


/* Graficos */


.Graficos {
    margin-left: 25%;
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 2%;
}

.areaGrid {
    display: flex;
    background-size: cover;
    width: 400px;
    height: 350px;
    flex-direction: column;
}

.areaGrid div {
    display: flex;
    flex-direction: row;
}

.areaGrid div div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 50px;
    border: solid 1px white;

}

.areaGrid div div img {
    height: 30px;
}

#myChart {
    height: 360px;
}

.div_grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
}

.div_grafico h1 {
    color: #194825;
    font-size: 40px;
}

.indicadores_grafico {
    display: flex;
    width: 800px;
    margin-right: 90px;
    justify-content: space-around;
    align-items: center;
}

.indicadores_grafico div {
    display: flex;
    background-color: blanchedalmond;
    width: 200px;
    height: 120px;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #1A3421;
    color: white;
    flex-direction: column;
}

.indicadores_grafico div div {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    width: 100px;
}

.indicadores_grafico #termometro {
    height: 35px;
    width: 40px;
    margin: 0px 0px 50px -180px;
}

.indicadores_grafico #umidade {
    height: 35px;
    width: 40px;
    margin: 35px 0px 0px -38px;
}

.indicadores_grafico #metrica {
    height: 70px;
    width: 70px;
    margin: 0px 0px 0px 100px;
}

.indicadores_grafico h1 {
    font-size: 20px;
}

.indicadores_grafico img {
    height: 60px;
    width: 60px;
}

.indicadores_grafico h4 {
    font-size: 30px;
}


/* Sensores */

/*     Listagem dos Sensores: */
.Sensores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 8%;
}

.listSensores {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;

}

.listSensores h2 {
    color: #1A3421;
    font-size: 50px;
}

.Tabela_sensores {
    display: flex;
    margin-top: 10px;
    background-color: #091D0E;
    flex-direction: column;
    overflow-x: auto;
    margin-left: 60px;
    height: 500px;
    width: 120%;

}

.Tabela_sensores h1 {
    color: white;
    font-size: 20px;
}

.Tabela_sensores div {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid white 2px;
    transition: 0.5s;
}

.Tabela_sensores div:hover {
    background-color: #425647;
    transform: scale(1.05);
}

.Perigo {
    color: rgb(255, 39, 39);
}

.Alerta {
    color: rgb(202, 202, 23);
}

.Inativo {
    color: rgb(180, 180, 180);
}

.Tabela_sensores div div {
    border: none;
    width: 60%;
    align-items: center;

}

/* Atenção aos sensores */

.KPI-Sensores {
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.AtencaoSensores {
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 10px 0;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    border: #091D0E solid 4px;
    width: 80%;
}

.AtencaoSensores h1 {
    font-size: 40px;
    color: #091D0E;
}

.lista_Atencao {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    overflow-x: auto;
    height: 500px;
    align-items: center;
    width: 100%;
}

.lista_Atencao div {
    margin-top: 30px;
    display: flex;
    background-color: #1A3421;
    align-items: center;
    padding: 10px 15px;
    height: auto;
    border-radius: 10px;
    width: 70%;
    border: #091D0E solid 3px;
    transition: 1s;
}


.lista_Atencao div:hover {
    background-color: #425647;
    transform: scale(1.05);
}

.lista_Atencao div img {
    height: 40%;
}

.lista_Atencao div div {
    display: flex;
    background-color: transparent;
    display: flex;
    border-radius: 0;
    align-items: start;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    flex-direction: column;
}

.lista_Atencao div div h1 {
    font-size: 30px;
    color: white;
}

.lista_Atencao div div p {
    font-size: 20px;
    font-weight: 600;
}

.lista_Atencao h4 {
    font-size: 20px;
    color: #1A3421;
    text-decoration: un;

}

/* HOME DASHBOARD */

#container {
    width: 100%;
    height: 615px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#container #cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 130px;
    color: #194825;
}

#container #saudacoes {
    font-size: 60px;
    font-family: "Barlow";
    font-weight: 700;
}

#container #apa_selecionada {
    font-family: "Barlow";
    font-size: 35px;
}

#container #apa_selecionada span {
    font-weight: 700;
}

#container #cards_status {
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

#cards_status .card {
    background-color: #194825;
    width: 320px;
    height: 320px;
    border-radius: 20px;
    box-shadow: 7px 7px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-family: "Barlow";
}

.card #avisos_dia {
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}

.card #num_avisos {
    font-size: 100px;
    font-weight: 700;
}

.card #status_avisos {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card #status_avisos .status {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: solid 1px white;
}

.card #status_avisos .status .titulo_status {
    font-size: 18px;
    font-weight: 600;
}

.card #status_avisos .status .icon {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    gap: 10px;

}

.card #status_avisos .status img {
    width: 30px;
    height: 30px;
}

.card #conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.card #conteudo #titulo_situacao {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}

.card #conteudo #status_situacao {
    font-size: 22px;
    font-weight: 700;
    width: 300px;
    margin-top: 60px;
    margin-bottom: 15px;
}

.card #conteudo #status_situacao span {
    color: #e90707;
}

.card #conteudo #msg_situacao {
    font-size: 20px;
    font-weight: 300;
    width: 300px;
    margin-bottom: 60px;
    margin-top: 15px;
}

.card #conteudo #linha {
    background-color: #FFFFFF;
    width: 75%;
    height: 2px;

}

.interrogacao {
    position: fixed;
    height: 10px;
    width: 10px;
    margin-left: 1400px;
    margin-top: 530px;
}

.interrogacao img {
    height: 100px;
    width: 100px;
    transition: 1s;
}

.interrogacao img:hover {
    transform: scale(1.1);
}