@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

/* Navegação */

.nav {
    background-color: #091D0E;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.nav img {
    height: 80px;
    margin-left: 10px;
}

.nav div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;

    height: 100%;
}

.nav div a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
}

.nav div img {
    height: 50px;
}

    /* Container */

.container {
        display: flex;
        height: auto;
        width: auto;
        flex-direction: column;
        background-image: url('/site institucional/novo/assets/imgs/Fundo site institucional.jpg');
        background-size: cover;
        align-items: center;
}




/* kPI */

.KPI {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    height: 20%;
    background-color: #1A3421;
    border-radius: 10px;
    margin: 30px;
    padding: 0 10px;
}

.Status {
    background-color: #1A3421;
    display: flex;
    justify-content: space-around;
    width: 700px;
    align-items: center;
    padding: 20px 0;
    border-radius: 0px 10px 10px 0px;
    color: white;
    border-left: none;
}

.Status h1 {
    width: 200px;

}

.Status div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #425647;
    justify-content: space-around;
    height: 90%;
    width: 20%;
    border-radius: 10px;
}



.Status div div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
    flex-direction: row;
    align-items: center;
}

.Status div div h3 {
    font-size: 25px;
    font-weight: 500;

}

.Status img {
    height: 30px;
    width: 30px;
}

.visao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 40px;
    border-radius: 10px 0 0px 10px;
    width: 240px;
    align-self: flex-start;
    background-color: #1A3421;
    color: white;

}

.Nome_Sensor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-top: 40px;
    border-right: none;
    border-radius: 10px 0 0px 10px;
    width: 240px;
    align-self: flex-start;
    background-color: rgb(26, 51, 32);
    color: white;

}

.Situacao{
    padding: 10px 0;
    align-items: center;
    display: flex;
    width: 200px;
    justify-content: space-around;

}


.conteudo{
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100%;
    justify-content: center;
}
    /* Gráficos */

.graficos{
    display: flex;
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Graf_Temp_Atuais{
   display: flex;
   width: 100%;
   height: 100%;
   margin-top: 30px;
   padding: 0;
   flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
}

.Graf_Temp_Atuais div{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: space-around;
}

.Graf_Temp_Atuais div h4{
    color: #1A3421;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 800;
}


canvas{
    height: 100%;
    width: 100%;
}


.kpi_E_Manutencao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}


.historicoAtencao{
    display: flex;
    padding: 20px 40px;
    align-items: center;
    border: solid #1A3421 3px;
    border-radius:  10px;
    flex-direction: column;
    width: 55%;
    height: 100%;
    margin-top: 100px;
}

.historicoAtencao h2{
    font-size: 40px;
}

.Ocorrencias{
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 450px;
    align-items: center;
}



.Ocorrencias *{
    scale: 0.90;
}

.Ocorrencias div{
    display: flex;
    color: white;
    margin-top: 10px;
    align-items: center;
    background-color: #1A3421;
    border-radius: 10px;
   
}

.Ocorrencias div img{
    height: 50px;
    margin-right: 10px;
}



.Ocorrencias div div{
    display: flex;
    border: none;
    flex-direction: column;
    padding: 10px 20px ;
    gap: 5px;
}

.Ocorrencias div div h3{
    font-size: 30px;
}

.Ocorrencias div div p{
    font-size: 18px;
}
.Ocorrencias div div div{
    display: flex;
    align-items: end;
    
    border: none;
    width: 100%;
}

.Ocorrencias h5{
    margin: 10px;
    font-size: 18px;
}


.GraficoMedia{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
   
}

.GraficoMedia h4{
    color: #1A3421;
    font-weight: 700;
    font-size: 30px;
}



   /* Footer */

.footer{

    display: flex;
    width: 100%;
    background-color: #26833d38;
    padding: 20px 0;
    align-items: center;
}

.footer a{
    display: flex;
    align-items: center;
    background-color: #1A3421;
    padding: 10px;
    border-radius: 50%;
    margin-left: 10px;
}


.aviso{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
}


.aviso h1{
    color: #1A3421;
    font-size: 30px;
    font-weight: bolder;
}