@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

/* Navegação */

.nav {
    background-color: #091D0E;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.nav img {
    height: 80px;
    margin-left: 10px;
}

.nav div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;

    height: 100%;
}

.nav div a {

    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
}

.nav div img {
    height: 50px;
}


main{
    display: flex;
    height: 613px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main h1{
    color: #024002;
    font-weight: bold;
    font-size: 40px;
}

.listar_apas{
    background-color: #024002;
    padding: 100px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 250px;
    gap: 60px;
    border-radius: 55px;
    overflow-x: auto;
    overflow-y: hidden;
}

.cartao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;

    align-items: center;
    cursor: pointer;
    transition: 1s;
}

.cartao:hover{
    scale: 1.1;
}

.cartao h1{
    color: white;
}
.cartao img{
    height: 260px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;

}