@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}


.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.lateral {
    height: 100%;
    width: 30%;
    background-color: #091D0E;
    display: flex;
    flex-direction: column;
    justify-content: start;


}

.lateral a {
    cursor: pointer;
}

.lateral div {
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    justify-content: space-around;
    color: white;
    width: 90%;
    margin-left: 14px;
}

.lateral div img {
    height: 80px;

}

.Central {
    height: 100%;
    width: 76%;
}


/* Parte do Orgão */
.dados {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top_dados {
    display: flex;
    background-color: #D9D9D9;
    margin: 10px 10px 0px 10px;
    align-items: center;
    justify-content: space-around;
}

.top_dados img {
    height: 200px;
}

.top_dados h1 {
    font-size: 300%;
}

.Centro_dados {
    display: flex;
    height: 64%;
    margin: 0px 10px;
    background-color: #D9D9D9;
    margin-top: 10px;
}

.Dados_Cadastrados {
    display: flex;
    width: 93%;
    flex-direction: column;
    justify-content: space-around;
}

.Dados_Cadastrados h1 {
    font-size: 30px;
    margin-left: 20px;
}

/*     Parte funcionario */

.Funcionario {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Funcionario_Acoes {
    color: #fff;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
    align-items: center;
    display: flex;
}

.Funcionario_Acoes div {
    background-color: #091D0E;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}


.Lista_Funcionario {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 96%;
    margin-top: 40px;
    height: 75%;

}

.Indicadores {
    display: flex;
    justify-content: space-around;
}

.listagem_Funcionarios {
    background-color: #024002;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listagem_Funcionarios div {
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    display: flex;
    margin-top: 10px;
    background-color: #D9D9D9;
}

.listagem_Funcionarios div img{
    height: 50px;
    cursor: pointer;
}

.listagem_Funcionarios div div {
    display: flex;

    width: 10%;

}
/* Cadastro e listagem APAs */


.APAs {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.APAs_Acoes {
    color: #fff;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
    align-items: center;
    display: flex;
}

.APAs_Acoes div {
    background-color: #091D0E;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.Lista_APAs {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 96%;
    margin-top: 40px;
    height: 75%;

}

.Indicadores_APAs {
    display: flex;
    margin-right: 130px;
    justify-content: space-around;
}

.listagem_APAs {
    background-color: #024002;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listagem_APAs div {
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    display: flex;
    margin-top: 10px;
    font-weight: 700;
    background-color: #D9D9D9;
}
.listagem_APAs div img{
    height: 50px;
    cursor: pointer;
}

.imagem_APA {
    height: 80px;
    width: 150px;
    border-radius: 90px;
}

.imagem_Situacao {
    height: 70px;
    width: 70px;
}

.nula {
    width: 300px;
}


/* Cadastros */

.cadastros {
    position: absolute;
    height: 100%;
    width: 76%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(58, 58, 58, 0.514);
}

.cadastros_funcionarios {
    background-color: #D9D9D9;
    height: 70%;
    width: 70%;
    flex-direction: column;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cadastros_funcionarios div {
    justify-content: space-around;
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    flex-direction: column;
}

.cadastros_funcionarios div div {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
}

.cadastros_funcionarios div div img {
    height: 30px;
    width: 30px;
}

.cadastros_funcionarios div div button {
    background-color: #091D0E;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.cadastros_funcionarios div div div {
    height: 1px;
    width: 1px;
}

.cadastros_funcionarios div h1 {
    font-weight: 700;
    font-size: 25px;
    color: #091D0E;
}

.cadastros_funcionarios div input {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 40px;
    color: #091D0E;
    width: 70%;
    font-size: 20px;
    text-align: center;
    border: solid 3px;
}

.cadastros_funcionarios div input::placeholder {
    text-align: start;
    padding: 0px 0 0 10px;
    color: #091D0E;
    font-weight: 700;
}

/* Deletar */
.deletar_class {
    background-color: #D9D9D9;
    height: 20%;
    width: 50%;
    flex-direction: column;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.deletar_class div {
    justify-content: space-around;
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    flex-direction: column;
}

.deletar_class div div {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
}

.deletar_class div div img {
    height: 30px;
    width: 30px;
}

.deletar_class div div button {
    background-color: #091D0E;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.deletar_class div div div {
    height: 1px;
    width: 1px;
}

.deletar_class div h1 {
    font-weight: 700;
    font-size: 25px;
    color: #091D0E;
}

.deletar_class div input {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 40px;
    color: #091D0E;
    width: 70%;
    font-size: 20px;
    text-align: center;
    border: solid 3px;
}

.deletar_class div input::placeholder {
    text-align: start;
    padding: 0px 0 0 10px;
    color: #091D0E;
    font-weight: 700;
}
/* APAS */



.cadastros_APAs {
    background-color: #D9D9D9;
    height: 70%;
    width: 70%;
    flex-direction: column;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cadastros_APAs div {
    justify-content: space-around;
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    flex-direction: column;
}

.cadastros_APAs div div {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
}

.cadastros_APAs div div img {
    height: 30px;
    width: 30px;
}

.cadastros_APAs div div button {
    background-color: #091D0E;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.cadastros_APAs div div div {
    height: 1px;
    width: 1px;
}

.cadastros_APAs div h1 {
    font-weight: 700;
    font-size: 25px;
    color: #091D0E;
}

.cadastros_APAs div input {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 40px;
    color: #091D0E;
    width: 70%;
    font-size: 20px;
    text-align: center;
    border: solid 3px;
}

.cadastros_APAs div input::placeholder {
    text-align: start;
    padding: 0px 0 0 10px;
    color: #091D0E;
    font-weight: 700;
}

.cadastros_APAs div input::file-selector-button{
    background-color: #091D0E;
    color: white;
    border: none;
    height: 40px;
}

.cadastros_APAs section{
    width: 70%;
  
}

.cadastros_APAs section input{
    width: 100%;
    margin-top: 10px;
}

#nome_e_orgao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#titulo_pagina_apa {
    width: 90%;
    margin-top: 20px;
}

#titulo_pagina_apa h1{
    font-size: 60px;
}

.Indicadores_APAs_func {
    display: flex;
    justify-content: space-between;
}

.listagem_APAs_func {
    background-color: #024002;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listagem_APAs_func div {
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    display: flex;
    margin-top: 10px;
    font-weight: 700;
    background-color: #D9D9D9;
}
.listagem_APAs_func div img{
    height: 50px;
    cursor: pointer;
}

.listagem_APAs_func .imagem_APA {
    height: 80px;
    width: 150px;
    border-radius: 90px;
}

.listagem_APAs_func .imagem_Situacao {
    height: 70px;
    width: 70px;
    margin-right: 40px;
}

.listagem_APAs_func #quant_sensores {
    margin-right: 40px;
}

#dados_e_adm {
    display: flex;
    justify-content: space-between;
}

.listagem_APAs_adm {
    background-color: #024002;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listagem_APAs_adm div {
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    display: flex;
    margin-top: 10px;
    font-weight: 700;
    background-color: #D9D9D9;
}
.listagem_APAs_adm div img{
    height: 50px;
    cursor: pointer;
}

.listagem_APAs_adm .imagem_APA {
    height: 80px;
    width: 150px;
    border-radius: 90px;
}

#confirmacao_apa {
    width: 150px;
    justify-content: space-evenly;
    margin-right: 55px;
}

#nome_adm {
    margin-left: 100px;
}

.Indicadores_APAs_adm {
    display: flex;
    justify-content: space-between;
    
}

.org {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.org_Acoes {
    color: #fff;
    width: 100%;
    justify-content: space-around;
    margin-top: 60px;
    align-items: center;
    display: flex;
}

.org_Acoes div {
    background-color: #091D0E;
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}


.Lista_org {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 96%;
    margin-top: 40px;
    height: 75%;

}

.Indicadores_org {
    display: flex;
    justify-content: space-around;
}

.listagem_org {
    background-color: #024002;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listagem_org div {
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    display: flex;
    margin-top: 10px;
    background-color: #D9D9D9;
}

.listagem_org div img{
    height: 50px;
    cursor: pointer;
}

.listagem_org div div {
    display: flex;
    width: 10%;

}

/* Solicitações */

.solicitacao{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.solicitacao #titulo_pagina_solicitacao {
    width: 90%;
    margin-top: 20px;
}

.solicitacao #titulo_pagina_solicitacao h1{
    font-size: 60px;
}

.solicitacao .Lista_solicitacao {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 96%;
    margin-top: 40px;
    height: 75%;

}

.solicitacao .Indicadores_solicitacao {
    display: flex;
    justify-content: space-between;
}

.solicitacao .listagem_solicitacao {
    background-color: #024002;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solicitacao .listagem_solicitacao div {
    justify-content: space-around;
    font-size: 20px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-radius: 10px;
    width: 95%;
    display: flex;
    margin-top: 10px;
    font-weight: 700;
    background-color: #D9D9D9;
}
.solicitacao .listagem_solicitacao div img{
    height: 50px;
    cursor: pointer;
}

.solicitacao .listagem_solicitacao .imagem_APA {
    height: 80px;
    width: 150px;
    border-radius: 90px;
}

.solicitacao #nome_responsavel {
    margin-left: 100px;
}


