@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Barlow", sans-serif;
    font-style: normal;
}

    /* Mensagem de erro */


    .error{
    display:  flex;
    width: 100%;
    height: 90vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.error h6{
    font-size: 40px;
    width: 70%;
    text-align: center;
    color: #1A3421;
}

.error a{
    color: #1A3421;
    font-size: 40px;
}

.error img{
    height: 200px;
    width: 200px;
}


/* Navegação */

.nav {
    background-color: #091D0E;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.nav img {
    height: 80px;
    margin-left: 10px;
    cursor: pointer;
}

.nav div {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    margin-right: 30px;
    height: 100%;
}

.nav div a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
}

.nav div img {
    height: 50px;
}



.container {
    display: flex;
    height: 100vh;
    width: auto;
    flex-direction: column;
    background-image: url('/site institucional/novo/assets/imgs/Fundo site institucional.jpg');
    background-size: cover;
}

/* parte superior */
.dados{
    display: flex;
    width: 100%;
    height: 35%;
    flex-direction: row;
}

.titulos{
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.nome_apa{
    display: flex;
    background-color: #1A3421;
    color: white;
    height: 70px;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
}

.nome_apa h1{
    font-size: 40px;
}

.titulos h3{
    font-size: 60px;
    color: #024002;
    margin-right: 70px;
    margin-bottom: 20px;
}

/* KPI */

.kpi{
    display: flex;
    height: 60%;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.card{
    width: 30%;
    height: 100%;
    background-color: #1A3421;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.card .txt_status {
    font-size: 25px;
    font-weight: 800;
    margin-top: 5px;
}

.card .conteudo_card {
    /* background-color: aqua; */
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card .conteudo_card .img_status {
    width: 60px;
    height: 60px;
}

.card .conteudo_card .txt_temp_umid {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .conteudo_card .txt_temp_umid img{
    width: 30px;
    height: 30px;
}


/* Filtro */
.conteudo{
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.filtro{
    display: flex;
    width: 87%;
    height: 10%;
    flex-direction: row; 
    align-items: center;
    margin-bottom: 10px;
}

.filtro h1{
    color: #024002;
    font-size: 17px;
}

.filtro .div_input{
    display: flex;
    flex-direction: row;
    border: #024002 solid 4px;
    border-radius: 15px;
    width: 180px;
    height: 65%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

.filtro .div_input h1{
    font-size: 20px;
}

.filtro input{
    outline: none;
}

.filtro select{
    width: 180px;
    height: 70%;
    margin-left: 20px;
    border: #024002 solid 4px;
    border-radius: 5px;
    outline: none;
}

.pesquisa{
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: end;
}

.pesquisa img{
    height: 45px;
    width: 45px;
}

.lista{
    display: flex;
    width: 87%;
    height: 80%;
    border: solid #024002 6px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    overflow: auto;

}

.dados_sensor{
    display: flex;
    height: 30%;
    width: 90%;
    background-color:#024002 ;
    margin: 5px;
    border-radius: 20px;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.img_situacao{
    display: flex;
    height: 100%;
    width:20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
}
.img_situacao img{
    width: 90px;
    height: 90px
}

.temperatura{
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
}

.temperatura img{
    width: 40px;
    height: 40px;
}

.umidade{
    display: flex;
    height: 100%;
    width: 25%;
    justify-content: center;
    align-items: center;
}


.umidade img{
    width: 30px;
    height: 30px;
}