/* IMPORTAÇÃO DAS FONTES */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container_pai {
  width: 100%;
  height: 2900px;
  background-image: url(../assets/imgs/fundoNovaIndex.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* NAVBAR - INÍCIO */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #001c07d2;
    height: 70px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 40px;
    width: auto;
}

.button a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-weight: 600;
}

.home .button #img_perfil img {
    width: 40px;
}

.logo img {
    width: 70px;
}

/* NAVBAR - FIM */

/* PRINCIPAL */

.principal {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 2%;
}

.principal figure {
    width: 20%;
}

.principal img {
    width: 100%;
}

.principal h1 {
    font-size: 80px;
}

.principal p {
    margin-top: 1%;
    text-align: center;
    width: 45%;
    font-size: 60px;
    font-weight: 300;
}

/* SOBRE NÓS */

.sobre {
    width: 83%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffffc2;
    color: #001c07d2;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 0px 0px 20px 0px black;
}

.sobre h2 {
    font-size: 80px;
}

.sobre p {
    text-align: justify;
    width: 50%;
    font-size: 25px;
}

.img_transparente {
    position: absolute;
    margin-left: 50%;
    width: 33%;
    border-radius: 15px;
}

.bororeColonia {
    position: absolute;
    margin-left: 51.5%;
    width: 30%;
    border-radius: 15px;
}

/* MISSÃO, VISÃO E VALORES */

.missao_visao_valores {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10%;
}

.missao {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.missao:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px #000000ad;
    border-radius: 20px;
}

.visao {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.visao:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px #000000ad;
    border-radius: 20px;
}

.valores {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.valores:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px #000000ad;
    border-radius: 20px;
}

.missao_visao_valores img {
    width: 50%;
    margin-bottom: 10%;
}

.missao_visao_valores p {
    width: 90%;
}

/* FALE CONOSCO */

.faleConosco {
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: white;
}

.faleConosco h2 {
  font-size: 80px;
}

.faleConosco p {
  margin-left: 400px;
  margin-right: 400px;
  text-align: center;
  font-size: 25px;
  margin-top: 65px;
}

.faleConosco button {
    color: #001c07;
    font-size: 40px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px black;
    padding: 10px;
    margin-top: 65px;
}

.faleConosco button:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* INICIO FOOTER */

.footer {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 150px;
  background-color: #075119a3;
  position: absolute;
  margin-top: 9%;
} 

.elementos_footer {
  display: flex;
  width: 100%;  
  height: 100%;
}

.elemento_filho_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  align-items: center;
}

.contatos {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-top: 0px;
}

.contatos div {
  display: flex;
  align-items: center;
  color: white;
}

.contatos img {
  height: 25px;
}

.contatos span {
  text-decoration: underline;
  margin-left: 10px;
}

.contatos p {
  font-size: 20px;
  margin-left: 10px;
  margin: 5px;
}

.localizacao img {
  height: 40px;
  margin-left: -60px;
}

.localizacao {
  display: flex;
  color: white;
  align-items: center;
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

.logo_footer {
  height: 120px;
  padding-top: 60px;
  margin-top: 0px;
}

.copy {
  background-color: #075119a3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  padding: 0 0 30px 0;
  font-weight: 700;
}

/* FIM FOOTER */



