* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

.container_pai {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/imgs/Fundo\ site\ institucional.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #001c07d2;
    height: 70px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 40px;
    width: auto;
}

.button a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-weight: 600;
}

.home .button #img_perfil img {
    width: 35px;
}

.logo img {
    width: 70px;
}

.meio_home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #001c07d7;
    font-size: 70px;
    font-weight: 850;
    text-align: center;
    width: 500px;
    height: 300px;

}

.home figure img {
    width: 250px;
}

.contato {
    display: flex;
    width: 50px;
    height: 200px;
    flex-direction: column;
}

.contato img {
    border-radius: 90%;
    height: 40px;
    width: 40px;
    padding: 4px;
}

/* Sobre */

.sobre {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.sobre .conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.sobre .conteudo_sobre {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.sobre .conteudo_sobre #sobre_nos { 
    font-size: 80px;
    width: 500px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 25px;
    color: #024002;
}

.sobre .conteudo_sobre #texto_sobre {
    background-color: #001c07ad;
    font-size: 18px;
    padding: 25px;
    height: 280px;
    line-height: 2.3;
    color: white;
}

.sobre .conteudo_imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid white;
    border-radius: 80px 2px;
    width: 490px;
    height: 450px;
    background-color: #001c07cf;
}

.sobre .conteudo_imagem img {
    width: 400px;
    height: 350px;
}

.linha {
    display: flex;
    margin-left: 160px;
    margin-bottom: 50px;
    width: 1200px;
    height: 2px;
    background-color: #001C07;
}

/* MISSÃO, VISÃO E VALORES */

.missao_visao_valores {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #024002;
    font-weight: 600;
    font-size: 20px;
}

.missao {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.visao {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.valores {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.missao_visao_valores img {
    width: 50%;
    margin-bottom: 10%;
}

.missao_visao_valores p {
    width: 90%;
}


/* footer */

.footer {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100px;
    background-color: #001C07;
}

.elementos_footer {
    display: flex;
    width: 100%;
    height: 100%;
}

.elemento_filho_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    align-items: center;
    padding-top: 25px;
}

.contatos {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
}

.contatos div {
    display: flex;
    align-items: center;
    color: white;
}

.contatos img {
    height: 30px;
}

.contatos span {
    text-decoration: underline;
    margin-left: 10px;
}

.contatos p {
    font-size: 20px;
    margin-left: 10px;
}

.localizacao img {
    height: 50px;
    margin-right: 50px;
}

.localizacao {
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    text-align: center;
}

.logo_nova {
    height: 120px;
    padding-top: 60px;
}

.copy {
    background-color: #001C07;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    padding: 0 0 30px 0;
    font-weight: 700;
}



