* {
    padding: 0;
    margin: 0;
    border: 0;
}


.container{
    width: 100%;
    height: 700px;
}

.home{
    width: 100%;
    height:100%;     
    background-image: url("../assets/imgs/Imagem\ Floresta.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(3, 32, 3, 0.651);
    height: 60px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
}
.button a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 70px;
    height: 55px;
}

.meio_home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.home figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font: italic smaller sans-serif;
    font-size: 40px;
    padding: 3px;
    text-align: center;
}

.contato{
    display: flex;
    width: 50px;
    height: 200px;
    flex-direction: column;
}

.contato img{
    border-radius: 90%;
    height: 40px;
    width: 40px;
    padding: 4px;
}

/* Sobre */

.sobre {
    background-image: url(../assets/imgs/Imagem\ Floresta.png);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;

}

.sobre .fundo-verde {
    background-color: rgba(0, 128, 0, 0.441); 
    height: 100%;
    width: 100%;
}

.fundo-verde {
    display: flex;
}

.fundo-verde .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fundo-verde .conteudo p {
    width: 500px;
    font-size: 25px;
    text-align: justify;
    color: white;
}

#titulo-sobre {
    font-weight: 1000;
    text-align: center;
    font-size: 60px;
    color: white;
}
.linha{
    background-color: white;
    width: 500px;
    height: 3px;
    border-radius: 15%;
    margin: 20px;
}


/* footer */
footer{
    width: 100%;
    height: 280px;
    background-color:rgb(1, 38, 1) ;
    color: white;
}

footer h1{
    padding-top: 20px;
    margin-left: 30px;
    margin-bottom: 0;
}
footer .linha{
        margin-top: 0;
        background-color: white;
        width: 400px;
        height: 3px;
        border-radius: 15%;
}
footer .fcontato{
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 500px;
    margin-left: 30px;
}

.fcontato img{
    width: 50px;
    height: 50px;
    border-radius: 80%;
    padding: 8px;
}

footer figure{
    display: flex;
    
}

footer figcaption{
    color: #fff;
    font: italic smaller sans-serif;
    font-size: 25px;
    padding-top: 15px;
}
