* {
    padding: 0;
    margin: 0;
    border: 0;
}
/* .container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbPYn9OnpszvLIT_0NnDal8FzVuIsNfdTKzA&s");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
} */


nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(3, 32, 3, 0.651);
    height: 60px;
   
}

.logo{
    width: 20px;
    height: 20px;
}
.logo img{
    width: 55px;
    height: 55px;
}

.foto{
    width: 100%;
    height: 625px;     
    background-image: url("https://wallpapers.com/images/featured/4k-floresta-bsj6viu69x5leztf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    flex-direction: column;
}

 #foto_centro{
   width: 50;
}

.foto_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
}
.button a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
figcaption {
color: #fff;
font: italic smaller sans-serif;
font-size: 40px;
padding: 3px;
text-align: center;
}

.contato{
    display: flex;
    width: 50px;
    height: 200px;
    flex-direction: column;
    
}

.contato img{
    border-radius: 90%;
    height: 40px;
    width: 40px;
    padding: 4px;
}