@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 1200px;
    font-family: "Barlow", sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-image: url(../img/fundonv.jpg);
    background-repeat: none;
    background-size: cover;
 }

nav{
    display: flex;
    width: 100%;
    background-color:#02330f91;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
nav img{
    width: 70px;
    height: 70px;
}
nav .titulo{
    color: white;
    text-align: center;
    align-self: center;
    font-size: 20px;
}


.conteudo{
    margin-top:50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.Main{
    background-color: #203525f6;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    height: 550px;
}

.nulo{
    display: none;
}
.config{
    display: flex;
    background-color:  #203525f6;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    height: 750px;
    width: 500px;
    display: inline;
    
}

.Sensor{
    background-color:  #2d4433f6;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    height: 350px;
    display: inline;
    width: 400px;
}
.Main p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.Main input{
    margin-left: 180px;
}
button{
    border: black solid 2px;
    width: 100px;
    border-radius: 0%;
    margin-left: 20px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    border: solid black 3px;
    color: white;
}
p{
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    color: rgb(250, 245, 245);
    font-size: 40px;
    text-decoration: underline;
}
 input{
    font-size: 18px;
    border-bottom:solid rgb(255, 255, 255) ;
    width: 200px;
    height: 30px;
    color: black;
    text-align: center;
    border-radius: 10px;
}